In [1]:
import sys
sys.path.append('..')

In [2]:
from nbhd import data

In [3]:
db = data.Base()

Initializing database connection...
Database connected!

In [6]:
db.ls()

['spatial_ref_sys',
 'nodes',
 'buildings',
 'roads',
 'properties',
 'carchargingpoint',
 'importantbuilding',
 'namedplace',
 'road',
 'foreshore',
 'functionalsite',
 'surfacewater_line',
 'surfacewater_area',
 'tidalwater',
 'tidalboundary',
 'woodland',
 'glasshouse',
 'electricitytransmissionline',
 'railwaystation',
 'railwaytrack',
 'railwaytunnel',
 'roadtunnel',
 'roundabout',
 'motorwayjunction',
 'names',
 'rivers',
 'green',
 'coast',
 'waterlines',
 'local_buildings']

In [10]:
db.info('importantbuilding')

            Column                 Datatype
0               id                     text
1  distinctiveName                     text
2    buildingTheme                     text
3   classification                     text
4      featureCode                   bigint
5         geometry  geometry(Polygon,27700)

In [7]:
db.info('local_buildings')

  Column                 Datatype
0     id                  integer
1   uuid        character varying
2   geom  geometry(Polygon,27700)

In [ ]:
# find numbers, medians, interquartile ranges