In [2]:
import sys

In [3]:
sys.path.append('..')

In [4]:
from nbhd import data

Initializing database connection...
Database connected!

In [5]:
db = data.Base()

In [5]:
table_names = db.ls()

In [6]:
from IPython.display import display

In [8]:
for t in table_names:
    print(t)
    display(db.info(t))

In [6]:
db.info('openuprn')

         Column               Datatype
0          UPRN                 bigint
1  X_COORDINATE       double precision
2  Y_COORDINATE       double precision
3      LATITUDE       double precision
4     LONGITUDE       double precision
5      geometry  geometry(Point,27700)

In [6]:
uprn = db.query('SELECT "UPRN" as id, geometry from openuprn', spatial=True)

In [7]:
uprn.to_postgis('properties', db.engine)

DiskFull: could not extend file "base/16384/119031": wrote only 4096 of 8192 bytes at block 89850
HINT:  Check free disk space.
CONTEXT:  COPY properties, line 10783000

In [8]:
db.ls()

['spatial_ref_sys',
 'slimroads',
 'pixels',
 'britain',
 'tiles',
 'opennames',
 'openroads',
 'openmaplocal',
 'openuprn',
 'railways',
 'rivers',
 'coastline',
 'roadnodes']

In [16]:
sql = '''
SELECT
        a.attname as "Column",
        pg_catalog.format_type(a.atttypid, a.atttypmod) as "Datatype"
    FROM
        pg_catalog.pg_attribute a
    WHERE
        a.attnum > 0
        AND NOT a.attisdropped
        AND a.attrelid = (
            SELECT c.oid
            FROM pg_catalog.pg_class c
                LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE c.relname = 'openuprn'
                AND pg_catalog.pg_table_is_visible(c.oid)
        );
        '''

In [17]:
response = db.query(sql)

In [18]:
response

         Column               Datatype
0          UPRN                 bigint
1  X_COORDINATE       double precision
2  Y_COORDINATE       double precision
3      LATITUDE       double precision
4     LONGITUDE       double precision
5      geometry  geometry(Point,27700)

In [15]:
db.query('SELECT COUNT(*) FROM openuprn')

     count
0  3619786

In [26]:
db.ls()

['spatial_ref_sys',
 'slimroads',
 'pixels',
 'britain',
 'tiles',
 'opennames',
 'openroads',
 'openmaplocal',
 'openuprn',
 'railways',
 'rivers',
 'coastline',
 'roadnodes']

In [ ]:
uprn = db.select('openuprn')

In [ ]:
uprn.to_postgis('properties', db.engine)

In [ ]:
buildings = db.select('openmaplocal')
buildings.to_postgis('buildings')